<div class="container">
  <div style="margin-top: 30px;">
    <i class="fas fa-arrow-left"
       style="cursor: pointer; font-size: 30px; color: #67AE6E;margin-left: 20px;"
       (click)="goBack()">
    </i>
  </div>

  <form (ngSubmit)="onSendResetLink()" style="width: 100%; max-width: 500px; margin: auto; text-align: center;">
    <h1>Mot de passe oublié</h1>
    <br>

    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="email"
      name="email"
      required
      style="padding: 10px; width: 100%; max-width: 300px;"
    />
    <br><br>

    <button type="submit" style="padding: 10px 20px;">Envoyer le lien</button>

    <p *ngIf="message" style="color: green; margin-top: 10px;">{{ message }}</p>
    <p *ngIf="error" style="color: red; margin-top: 10px;">{{ error }}</p>
  </form>
</div>
